<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="key_team.com.saipa311">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <application
        android:name=".MyCustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/saipa_logo"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="AA_DB_NAME" android:value="SaipaRepresentation" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Sale_services.NewCarInfoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Sale_services.OldCarInfoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Sale_services.DepositInfoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".PhotoViewer"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Sale_services.NewCarRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Sale_services.OldCarRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Sale_services.DepositRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Sale_services.ExchangeRequestActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Sale_services.OutDatedCarRequestActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".AfterSale_services.GoldCardInfoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".AfterSale_services.GoldCardRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".AfterSale_services.MyCarActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Customer_services.CriticismAndSuggestionRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Customer_services.RegisterComplaintActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Options.OptionInfoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Options.OptionRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".EventInfoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".SurveyFormActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".RepresentationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <service android:name=".Services.MyService" ></service>
        <receiver android:name=".Services.MyStartServiceReceiver" ></receiver>
        <!-- Will not be called unless the application explicitly enables it -->
        <receiver android:name=".Services.DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".NetworkReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
